body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    background-color: black;
    /* flex-grow: 1; */
    width: 100%;
    margin: 0;
    padding: 0;

}

.container1 {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 180px;
    /* margin-bottom: 30px; */
    vertical-align: middle;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}

.minutes {
    display: block;
    width: 28%;
    height: 180px;
    overflow: scroll;

}

.minutes::-webkit-scrollbar {
    display: none;

}

.min {
    width: 15%;
    height: 60px;
    border: 0px;
    padding: 0;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    color: blanchedalmond;
    font-size: 30px;

}

.seconds {
    display: block;
    width: 28%;
    height: 180px;
    overflow: scroll;
    
}

.seconds::-webkit-scrollbar {
    display: none;

}

.sec {
    width: 15%;
    height: 60px;
    border: 0px;
    padding: 0;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    color: blanchedalmond;
    font-size: 30px;
    
}

p {
    height: 70px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    color: blanchedalmond;
    font-size: 30px;
    margin-left: 1rem;

}

.animation {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-iteration-count: 2.0;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.container2 {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 180px;
    /* margin-bottom: 30px; */
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    
}

#textbox-minutes {
    width: 30%;
    font-size: 90px;
    text-align: right;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    border: 0px;
    padding: 0;
    margin: 0px;
    cursor: none;
    outline: none;
    background: black;
    color: blanchedalmond;
    pointer-events: none;
    
}

.semicolumn {
    width: 10%;
    border: 0px;
    padding: 0;
    margin: 0 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    color: blanchedalmond;
    font-size: 100px;
    pointer-events: auto;
    
}

#textbox-seconds {
    width: 30%;
    font-size: 90px;
    text-align: left;
    align-items: center;
    justify-content: center;
    text-justify: center;
    vertical-align: middle;
    border: 0px;
    padding: 0;
    margin: 0px;
    cursor: none;
    outline: none;
    background: black;
    color: blanchedalmond;
    pointer-events: none;
    
}

.container3 {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 350px;
    min-width: 200px;
    user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}


#button-start {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #005210;
    font-size: 30px;
    cursor: none;
    outline: none;
    pointer-events: auto;
    color: blanchedalmond;
    font-weight: bolder;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border: 1.5px solid #02ab24;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    
}

#button-start:active {
    background: #005210;
    border: 1.5px solid #005210;

}

#button-start p {
    font-size: 15px;
    color: blanchedalmond;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-top: 10px;
    border: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 20px;

}

/* .progress-bar-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    height: 30px;
    width: 80%;

}

.progress-bar {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "calibri", sans-serif;
    text-align: center;
    flex-wrap: wrap;
    height: 100px;
    width: 0%;
    border-radius: 3px;

} */

#svg-circle-loader {
    background: none;
    border: none;
    margin: none;
    padding: none;
    position: absolute;
    z-index: 1;

}
    
#circle-loader {
fill: none;
stroke: #02ab24;
stroke-width: 5px;
/* rotates the circle's stroke so that the start is at the top */
stroke-dashoffset: 235.5;
/* the 0 is the length of the arc filled by the stroke, and the 314 is the diameter (2 times the circle radius) times pi (3.14...) which is the "gap" between the coloured stroke arcs */
stroke-dasharray: 0, 314;
/* not necessary, but makes it look smoother */
transition: all 0.2s linear;

}

.footer {
    width: 100%;
    color: blanchedalmond;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    clear: both;
    margin-bottom: 10px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    
}

.altContainer {
    display: none;

}

@media only screen and (min-width: 415px) {

    .altContainer {
        display: unset;
        color: blanchedalmond;
        width: 80%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    body {
        flex-flow: column nowrap;
        height: 90vh;

    }

    .container1 {
        display: none;
        height: 0px;
        width: 0px;

    }

    .container2 {
        display: none;

    }

    .container3 {
        display: none;

    }

    .minutes {
        display: none;

    }
    
    .minutes::-webkit-scrollbar {
        display: none;

    }
    
    .min {
        display: none;

    }

    .seconds {
        display: none;

    }
    
    .seconds::-webkit-scrollbar {
        display: none;

    }
    
    .sec {
        display: none;

    }

    .footer {
        display: none;

    }

    .progress-bar-container {
        display: none;

    }

    .progress-bar {
        display: none;

    }

}
